<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ToDoList </title>
    <link rel="stylesheet" href="main.css"/>
    <h1>To Do List </h1>
</head>

<body>
<div id="page-container">
    <div id="content-wrap">

        {% for task in tasks %}
            <ul>
                <b> {{ task.name }} </b> <br>
                <ul>{{ task.date }} {{ task.time }} at {{ task.location }} <br></ul>
            </ul>
        {% endfor %}
    </div>

    <footer class id="footer">
        <p><b> Authors: </b> Daniel Santana and Steven Sousa </p>
        <p><b> Contact us: </b> <a href="mailto: CodingBros@gmail.com"> CodingBros@gmail.com</a></p>
    </footer>

</div>
</body>

</html>